<ion-header>

    <ion-navbar color="navbarColor">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title style="text-align: left;"><img height="30" src="assets/imgs/joy.png"> </ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable card-background-page">

    <div id='conteudo' class="div-style-publicidade">
        <div class="center">
            <ion-spinner *ngIf="!propagandas"></ion-spinner>
        </div>

        <ion-slides pager *ngIf="propagandas && propagandas.length" (ionSlideDidChange)="slideChanged()" autoplay="5000" loop="true" speed="3000">
            <ion-slide *ngFor="let propaganda of propagandas">
                <img [src]="sanitizer.bypassSecurityTrustUrl(propaganda.imagem)" (click)="openLink(propaganda.linkPublicidade);" class="image-style" />
            </ion-slide>
        </ion-slides>
    </div>

    <div>

        <ion-card class="ion-card-background-style" (click)="goVagasEmDestaque()">
            <!-- <img src="assets/imgs/hive2.png" class="hive-img-style" /> -->
            <ion-icon ios="ios-people" md="ios-people" class="icon-style"></ion-icon>
            <div class="card-title" padding>
                <span class="span-style-home">
                    <b class="font-style-home">{{ 'VAGAS_UPPER_CASE' | translate }}<br> {{ 'VAGAS_EMPREGO_HOME' | translate }}</b>
                </span>
            </div>
        </ion-card>
        <!-- <ion-card class="ion-card-background-style" (click)="goFornecedoresEmDestaque()" >
            <ion-icon ios="ios-contacts" md="ios-contacts" class="icon-style"></ion-icon>
            <div class="card-title" padding>
                <span class="span-style-home">
                    <b class="font-style-home">{{ 'PRESTADORES' | translate }}<br> {{ 'SERVICOS' | translate }}</b>
                </span>
            </div>
        </ion-card> -->

    </div>

</ion-content>
