<ion-header>

    <ion-navbar color="navbarColor">
        <ion-title>{{ 'MEUS_DADOS' | translate }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <!-- <ion-content> -->
    <form [formGroup]="dadosUsuarioForm" (ngSubmit)="submeterDadosUsuario()">

        <ion-item-divider class="item-divider-style" style="margin-top: 0px;">
            {{ 'DADOS_PESSOAIS' | translate }}
            <div item-content>
                <ion-icon ios="ios-person" md="md-person" item-start></ion-icon>
            </div>
        </ion-item-divider>

        <ion-item>
            <ion-label stacked>{{ 'NOME' | translate }}</ion-label>
            <ion-input formControlName="nomePessoa" [(ngModel)]="usuarioDetalheEntity.nomePessoa" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
        </ion-item>
        <div *ngIf="!dadosUsuarioForm.get('nomePessoa').valid && dadosUsuarioForm.get('nomePessoa').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
        <div *ngIf="dadosUsuarioForm.get('nomePessoa').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_100_CARACTERES' | translate }}</div>

        <ion-item>
            <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
            <ion-input formControlName="email" [(ngModel)]="usuarioDetalheEntity.email" type="email" [readonly]="isReadOnly"></ion-input>
        </ion-item>
        <div *ngIf="(!dadosUsuarioForm.get('email').valid && dadosUsuarioForm.get('email').touched) && !dadosUsuarioForm.get('email').hasError('pattern')" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
        <div *ngIf="dadosUsuarioForm.get('email').hasError('pattern')" [ngClass]="'class-error-form'">{{ 'EMAIL_INVALIDO' | translate }}</div>

        <ion-item>
            <ion-label stacked>{{ 'TELEFONE' | translate }}</ion-label>
            <ion-input formControlName="telefonePessoa" [(ngModel)]="usuarioDetalheEntity.telefonePessoa" type="text"></ion-input>
        </ion-item>
        <div *ngIf="!dadosUsuarioForm.get('telefonePessoa').valid && dadosUsuarioForm.get('telefonePessoa').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
        <div *ngIf="dadosUsuarioForm.get('telefonePessoa').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_50_CARACTERES' | translate }}</div>


        <div *ngIf="idUsuario">

            <ion-item>
                <ion-label stacked>{{ 'TELEFONE' | translate }} 2</ion-label>
                <ion-input formControlName="telefonePessoa2" [(ngModel)]="usuarioDetalheEntity.telefonePessoa2" type="text"></ion-input>
            </ion-item>
            <div *ngIf="dadosUsuarioForm.get('telefonePessoa2').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_50_CARACTERES' | translate }}</div>
        
            <ion-item>
                <ion-label stacked>{{ 'NACIONALIDADE' | translate }}</ion-label>
                <ion-input formControlName="nacionalidade" [(ngModel)]="usuarioDetalheEntity.nacionalidade" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('nacionalidade').valid && dadosUsuarioForm.get('nacionalidade').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
            <div *ngIf="dadosUsuarioForm.get('nacionalidade').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_100_CARACTERES' | translate }}</div>
        
            
            <ion-item>
                <ion-label class="my-label">{{ 'GENERO' | translate }}</ion-label>
                <ion-select formControlName="genero" [(ngModel)]="usuarioDetalheEntity.genero" class="font-size-select capitalize-enum" cancelText="{{ 'CANCELAR' | translate }}">
                    <ion-option value="FEMININO">{{ 'FEMININO' | translate }}</ion-option>
                    <ion-option value="MASCULINO">{{ 'MASCULINO' | translate }}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('genero').valid && dadosUsuarioForm.get('genero').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

            <!-- <ion-item (click)="selecionaDataNasc()">
                <ion-label stacked>{{ 'DATA_NASCIMENTO' | translate }}</ion-label>
                <ion-datetime formControlName="dataNascimento" displayFormat="YYYY/MM/DD" name="dataNascimento" min="1919" max="2099" [(ngModel)]="dataNascimento"></ion-datetime>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('dataNascimento').valid && dadosUsuarioForm.get('dataNascimento').touched" [ngClass]="'class-error-form'">campo obrigatório</div> -->
            
            <ion-item >
                <ion-label stacked>{{ 'DATA_NASCIMENTO' | translate }}</ion-label>
                <ion-datetime formControlName="dataNascimento" displayFormat="YYYY/MM/DD" name="dataNascimento" min="1919" max="2099" [(ngModel)]="dataNascimento"></ion-datetime>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('dataNascimento').valid && dadosUsuarioForm.get('dataNascimento').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
                
            <ion-item>
                <ion-label class="my-label">{{ 'LABEL_DISP_MUDANCA' | translate }}</ion-label>
                <ion-select formControlName="disponibilidadeMudanca" [(ngModel)]="usuarioDetalheEntity.disponibilidadeMudanca" class="font-size-select capitalize-enum" cancelText="{{ 'CANCELAR' | translate }}">
                    <ion-option value="true">{{ 'LABEL_SIM' | translate }}</ion-option>
                    <ion-option value="false">{{ 'LABEL_NAO' | translate }}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('disponibilidadeMudanca').valid && dadosUsuarioForm.get('disponibilidadeMudanca').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

            <ion-item>
                <ion-label class="my-label">{{ 'LABEL_DISP_HORA_EXTRA' | translate }}</ion-label>
                <ion-select formControlName="disponibilidadeHoraExtra" [(ngModel)]="usuarioDetalheEntity.disponibilidadeHoraExtra" class="font-size-select capitalize-enum" cancelText="{{ 'CANCELAR' | translate }}">
                    <ion-option value="true">{{ 'LABEL_SIM' | translate }}</ion-option>
                    <ion-option value="false">{{ 'LABEL_NAO' | translate }}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('disponibilidadeHoraExtra').valid && dadosUsuarioForm.get('disponibilidadeHoraExtra').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

            <ion-item>
                <ion-label class="my-label">{{ 'LABEL_POSSUI_FILHOS' | translate }}</ion-label>
                <ion-select formControlName="possuiFilhos" [(ngModel)]="usuarioDetalheEntity.possuiFilhos" (ionChange)="showIdadeFilhoCacula($event)" class="font-size-select capitalize-enum" cancelText="{{ 'CANCELAR' | translate }}">
                    <ion-option value="true">{{ 'LABEL_SIM' | translate }}</ion-option>
                    <ion-option value="false">{{ 'LABEL_NAO' | translate }}</ion-option>
                </ion-select>
            </ion-item>

            <!-- <ion-item (click)="selecionaDataNascFilhoCacula()" [hidden]="escondeIdade">
                <ion-label stacked>{{ 'DATA_NASCIMENTO_FILHO_CACULA' | translate }}</ion-label>
                <ion-datetime formControlName="dataNascimentoFilhoCacula" displayFormat="YYYY/MM/DD" name="dataNascimentoFilhoCacula" min="1919" max="2099" [(ngModel)]="dataNascimentoFilhoCacula"></ion-datetime>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('dataNascimentoFilhoCacula').valid && dadosUsuarioForm.get('dataNascimentoFilhoCacula').touched" [ngClass]="'class-error-form'">campo obrigatório</div> -->
            
            <ion-item [hidden]="escondeIdade">
                <ion-label stacked>{{ 'DATA_NASCIMENTO_FILHO_CACULA' | translate }}</ion-label>
                <ion-datetime formControlName="dataNascimentoFilhoCacula" displayFormat="YYYY/MM/DD" name="dataNascimentoFilhoCacula" min="1919" max="2099" [(ngModel)]="dataNascimentoFilhoCacula"></ion-datetime>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('dataNascimentoFilhoCacula').valid && dadosUsuarioForm.get('dataNascimentoFilhoCacula').touched" [ngClass]="'class-error-form'">campo obrigatório</div>


            <!-- <ion-item [hidden]="escondeIdade">
                <ion-label stacked>{{ 'IDADE_FILHO_CACULA' | translate }}</ion-label>
                <ion-input formControlName="idadeFilhoCacula" [(ngModel)]="usuarioDetalheEntity.idadeFilhoCacula" type="number" 
                    [required]="!escondeIdade" (keypress)="onlyNumberKey($event)"></ion-input>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('idadeFilhoCacula').valid && dadosUsuarioForm.get('idadeFilhoCacula').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div> -->

        </div>
        
        <div *ngIf="idUsuario">
            <ion-item>
                <ion-label stacked>{{ 'SALARIO' | translate }}</ion-label>
                <ion-input formControlName="salario" [(ngModel)]="salario" type="text" 
                (keyup)="getValorSalario(salario)" spellcheck="false" autocapitalize="off" 
                autocomplete="off" autocorrect="off"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>{{ 'EXPERIENCIA_PROFISSIONAL' | translate }}</ion-label>
                <ion-textarea formControlName="experienciaProfissional" [(ngModel)]="usuarioDetalheEntity.experienciaProfissional" rows="5" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-textarea>
            </ion-item>
            <div *ngIf="dadosUsuarioForm.get('experienciaProfissional').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_500_CARACTERES' | translate }}</div>

            <ion-item-divider class="item-divider-style" style="margin-top: 10px;">
                {{ 'DADOS_IDIOMA' | translate }}
                <div item-content>
                    <ion-icon ios="ios-person" md="md-person" item-start></ion-icon>
                </div>
            </ion-item-divider>

            <ion-item>
                <ion-label class="my-label">{{ 'GRAU_ENTENDIMENTO' | translate }}</ion-label>
                <ion-select formControlName="grauEntendimento" [(ngModel)]="usuarioDetalheEntity.grauEntendimento" class="font-size-select" cancelText="{{ 'CANCELAR' | translate }}">
                    <ion-option value="NENHUM">{{ 'NENHUM' | translate }}</ion-option>
                    <ion-option value="BASICO">{{ 'BASICO' | translate }}</ion-option>
                    <ion-option value="INTERMEDIARIO">{{ 'INTERMEDIARIO' | translate }}</ion-option>
                    <ion-option value="AVANCADO">{{ 'AVANCADO' | translate }}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('grauEntendimento').valid && dadosUsuarioForm.get('grauEntendimento').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

            <ion-item>
                <ion-label class="my-label">{{ 'GRAU_FALA' | translate }}</ion-label>
                <ion-select formControlName="grauFala" [(ngModel)]="usuarioDetalheEntity.grauFala" class="font-size-select" cancelText="{{ 'CANCELAR' | translate }}">
                    <ion-option value="NENHUM">{{ 'NENHUM' | translate }}</ion-option>
                    <ion-option value="BASICO">{{ 'BASICO' | translate }}</ion-option>
                    <ion-option value="INTERMEDIARIO">{{ 'INTERMEDIARIO' | translate }}</ion-option>
                    <ion-option value="AVANCADO">{{ 'AVANCADO' | translate }}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('grauFala').valid && dadosUsuarioForm.get('grauFala').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

            <ion-item>
                <ion-label class="my-label">{{ 'GRAU_ESCRITA' | translate }}</ion-label>
                <ion-select formControlName="grauEscrita" [(ngModel)]="usuarioDetalheEntity.grauEscrita" class="font-size-select" cancelText="{{ 'CANCELAR' | translate }}">
                    <ion-option value="NENHUM">{{ 'NENHUM' | translate }}</ion-option>
                    <ion-option value="BASICO">{{ 'BASICO' | translate }}</ion-option>
                    <ion-option value="INTERMEDIARIO">{{ 'INTERMEDIARIO' | translate }}</ion-option>
                    <ion-option value="AVANCADO">{{ 'AVANCADO' | translate }}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('grauEscrita').valid && dadosUsuarioForm.get('grauEscrita').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

        </div>

        <div *ngIf="usuarioDetalheEntity.idUsuario">
            <ion-item-divider class="item-divider-style">
                {{ 'ENDERECO' | translate }}
                <div item-content>
                    <ion-icon ios="ios-home" md="md-home" item-start></ion-icon>
                </div>
            </ion-item-divider>

            <ion-item>
                <ion-label stacked>{{ 'ENDERECO' | translate }}</ion-label>
                <ion-textarea formControlName="endereco" [(ngModel)]="usuarioDetalheEntity.endereco" rows="3" maxLength="300"></ion-textarea>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('endereco').valid && dadosUsuarioForm.get('endereco').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
            <div *ngIf="dadosUsuarioForm.get('endereco').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_300_CARACTERES' | translate }}</div>
    
            <ion-item>
                <ion-label stacked>{{ 'LABEL_CEP' | translate }}</ion-label>
                <ion-input formControlName="cep" [(ngModel)]="usuarioDetalheEntity.cep" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('cep').valid && dadosUsuarioForm.get('cep').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
            <div *ngIf="dadosUsuarioForm.get('cep').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_100_CARACTERES' | translate }}</div>
    
            <ion-item>
                <ion-label stacked>{{ 'LABEL_NOME_RESID' | translate }}</ion-label>
                <ion-input formControlName="nomeResidencia" [(ngModel)]="usuarioDetalheEntity.nomeResidencia" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('nomeResidencia').valid && dadosUsuarioForm.get('nomeResidencia').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
    
            <ion-list>
                <ion-item>
                    <ion-label class="my-label">{{ 'PROVINCIA' | translate }}</ion-label>
                    <ion-select formControlName="idEstado" [(ngModel)]="usuarioDetalheEntity.idEstado" (ionChange)="getCidadesByEstadoUsuario(usuarioDetalheEntity.idEstado, true)" cancelText="{{ 'CANCELAR' | translate }}">
                        <ion-option *ngFor="let estado of estados" value="{{estado.idEstado}}">{{estado.nome}}</ion-option>
                    </ion-select>
                </ion-item>
                <div *ngIf="!dadosUsuarioForm.get('idEstado').valid && dadosUsuarioForm.get('idEstado').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
            </ion-list>
    
            <ion-list>
                <ion-item class="item-cidade-style">
                    <ion-label class="my-label">{{ 'CIDADE' | translate }}</ion-label>
                    <ion-select formControlName="idCidade" [(ngModel)]="usuarioDetalheEntity.idCidade" cancelText="{{ 'CANCELAR' | translate }}">
                        <ion-option *ngFor="let cidade of cidades" value="{{cidade.idCidade}}">{{cidade.cidade}}</ion-option>
                    </ion-select>
                </ion-item>
                <div *ngIf="!dadosUsuarioForm.get('idCidade').valid && dadosUsuarioForm.get('idCidade').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
            </ion-list>

        </div>

        
        <div *ngIf="!usuarioDetalheEntity.idUsuario">
            <ion-item-divider class="item-divider-style">
                {{ 'MINHA_SENHA' | translate }}
                <div item-content>
                    <ion-icon ios="ios-lock" md="md-lock" item-start></ion-icon>
                </div>
            </ion-item-divider>

            <ion-item>
                <ion-label stacked>{{ 'SENHA' | translate }}</ion-label>
                <ion-input formControlName="senhaUsuario" id="senhaUsuario" [(ngModel)]="usuarioDetalheEntity.senhaUsuario" type="password"></ion-input>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('senhaUsuario').valid && dadosUsuarioForm.get('senhaUsuario').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

            <ion-item>
                <ion-label stacked>{{ 'CONFIRMAR_SENHA' | translate }}</ion-label>
                <ion-input type="password" id="confirmSenha" formControlName="confirmSenha" [(ngModel)]="usuarioDetalheEntity.confirmSenha"></ion-input>
            </ion-item>
            <div [ngClass]="'class-error-form'" *ngIf="(!dadosUsuarioForm.get('confirmSenha').valid && dadosUsuarioForm.get('confirmSenha').touched) && dadosUsuarioForm.controls.confirmSenha.errors?.MatchPassword">{{ 'SENHAS_NAO_CONFEREM' | translate }}</div>
        </div>

        <!-- <div *ngIf="!usuarioDetalheEntity.idUsuario">
            <ion-item style="margin-top: 20px;" text-wrap>
                <ion-label stacked (click)="openModalTermosCadastro()" class="underline-class">{{ 'ACEITO_TERMOS' | translate }}</ion-label>
                <ion-checkbox color="secondary" formControlName="statusAceitoTermoUso" id="statusAceitoTermoUso" [(ngModel)]="usuarioDetalheEntity.statusAceitoTermoUso"></ion-checkbox>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('statusAceitoTermoUso').valid && dadosUsuarioForm.get('statusAceitoTermoUso').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
        </div> -->
        <!-- <button ion-button block type="submit" color="navbarColor" class="margin-button-save span-style-color">{{ 'ENTRAR' | translate }}</button> -->
        <div padding>
            <button ion-button block type="submit" color="navbarColor" class="margin-button-save span-style-color">{{ 'SALVAR' | translate }}</button>
        </div>
    </form>

</ion-content>
