<ion-header>

    <ion-navbar color="navbarColor">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            {{ 'ORCAMENTOS' | translate }}
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card>

        <ion-item class="card-abertas-color">
            <ion-icon ios="ios-list" md="md-list" item-start large class="card-abertas-color"></ion-icon>
            <h2 class="h2-color-cards"><b>{{ 'ORCAMENTOS_ABERTOS' | translate }} - {{ cotacaoOrcamentoUsuarioEntity.cotacaoAberta }} </b></h2>
        </ion-item>

        <ion-item>
            <button ion-button icon-left clear item-end (click)="openCotacoesList('ABERTO')">
                <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
                {{ 'VER_LISTA' | translate }}
            </button>
        </ion-item>

    </ion-card>

    <ion-card>
        <ion-item class="card-pendentes-color">
            <ion-icon ios="ios-list" md="md-list" item-start large class="card-pendentes-color"></ion-icon>
            <h2 class="h2-color-cards"><b>{{ 'ORCAMENTOS_RESPONDIDOS' | translate }} - {{ cotacaoOrcamentoUsuarioEntity.cotacaoRespondida }} </b></h2>
        </ion-item>

        <ion-item>
            <button ion-button icon-left clear item-end (click)="openCotacoesList('RESPONDIDO')">
        <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
        {{ 'VER_LISTA' | translate }}
      </button>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item class="card-escolhidos-color">
            <ion-icon ios="ios-list" md="md-list" item-start large class="card-escolhidos-color"></ion-icon>
            <h2 class="h2-color-cards"><b>{{ 'ORCAMENTOS_ESCOLHIDOS' | translate }} - {{ cotacaoOrcamentoUsuarioEntity.cotacaoEscolhida }} </b></h2>
        </ion-item>

        <ion-item>
            <button ion-button icon-left clear item-end (click)="openCotacoesList('ESCOLHIDO')">
        <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
        {{ 'VER_LISTA' | translate }}
      </button>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item class="card-concluidos-color">
            <ion-icon ios="ios-list" md="md-list" item-start large class="card-concluidos-color"></ion-icon>
            <h2 class="h2-color-cards"><b>{{ 'ORCAMENTOS_CONCLUIDOS' | translate }} - {{ cotacaoOrcamentoUsuarioEntity.cotacaoConcluida }} </b></h2>
        </ion-item>

        <ion-item>
            <button ion-button icon-left clear item-end (click)="openCotacoesList('CONCLUIDO')">
        <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
        {{ 'VER_LISTA' | translate }}
      </button>
        </ion-item>
    </ion-card>

    <ion-fab bottom right>
        <button ion-fab (click)="novoOrcamento()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>