<ion-menu type="reveal" id="myMenu" [content]="content">
    <ion-header style="background-color: #484848;">

        <ion-card text-center class="hide-card" style="background-color: #484848;">
            <div (click)="takePicture()" class="custom-avatar" style="margin-top: 15px;">
                <img src="assets/imgs/no-img.png" *ngIf="!mostraFotoUsuario" class="custom-avatar" />
                <img [src]="sanitizer.bypassSecurityTrustUrl(imagemPessoaBs64)" *ngIf="mostraFotoUsuario" class="custom-avatar" />
            </div>

            <h2 style="color: #FDB413">{{ nomePessoa }}</h2>
            <p style="color: #FDB413">{{ loginPessoa }}</p>
        </ion-card>

    </ion-header>


    <ion-content style="background-color: #424242;">
        <ion-list no-lines style="margin-top: 15px;">
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [class.no-click]="p.isVisible==false" style="background-color: #424242;">
                <ion-icon [name]="p.icon" item-left item-start color="navbarColor" *ngIf='p.isVisible'></ion-icon>
                <h4 *ngIf='p.isVisible' style="color: #fff">{{ p.title | translate }}</h4>
            </button>

            <ion-item menu-close ion-item color="white" (click)="confirmaLogout()" class="my-position-button" style="background-color: #424242;">
                <ion-icon ios="ios-exit" md="ios-exit" item-start color="navbarColor"></ion-icon>
                <h4 style="color: #fff">{{ 'SAIR' | translate }}</h4>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
